<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/css/editblog.css">


</head>
<body>
  <form action="/editblog/{{ blog.id }}" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{ blog.title }}">

    <label for="subtitle">Subtitle</label>
    <input type="text" id="subtitle" name="subtitle" value="{{ blog.subtitle }}">

    <label for="content">Body</label>
    <textarea id="content" name="content" >{{ blog.content }}</textarea>

    <input type="submit" value="Submit">
  </form>
<script>

</script>
</body>
</html>