<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var socket = io();

            socket.on('connect', function() {
                socket.emit('join', {username: 'user1', room: 'room1'});
            });

            socket.on('message', function(data) {
                document.getElementById('messages').innerHTML += '<div>' + data.msg + '</div>';
            });

            document.getElementById('sendButton').onclick = function() {
                var text = document.getElementById('myMessage').value;
                socket.emit('message', {msg: text, room: 'room1'});
            };
        });
    </script>
</head>
<body>
    <div id="messages"></div>
    <input type="text" id="myMessage">
    <button id="sendButton">Send</button>
</body>
</html>
