<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Followers Page</title>
    <link rel="stylesheet" href="../static/css/myfollowers.css">
</head>
<body>
    <div class="container">
        <h1>{{ user.fname }} Followers</h1>
        <div class="following">
            {% for follower in followers %}
            <div class="follower">
                <p>{{ follower.fname }} {{ follower.lname }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
