<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <link href="../static/css/edit.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <h1> Edit your profile </h1>
    <form action="/editprofile" method="POST">
        <label>Name</label>
        <input type="text" name="name" value="{{ profile.fname }} {{ profile.Lname }}">
        <label>Email</label>
        <input type="email" name="email" value="{{ profile.email }}">
        <iabel>Github</iabel>
        <input type="text" name="Github">
        <label>Phone number</label>
        <input name="pnumber" type="text">
        <label>Address</label>
        <input name="adress" type="text">
        <label>Adress</label>
        <input name="adress" type="text">
        <label >Twitter</label>
        <input name="twitter" type="text">
        <label style="display: block;">About me</label>
        <textarea name="aboutme" class="aboutme"> </textarea>

        <label >project i worked on </label>
        <textarea name="cv" > </textarea>
    </form>

</body>
</html>